* {
  box-sizing: border-box; }

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50; }

ul {
  margin-left: 0;
  padding-left: 0; }

ul.error li {
  color: red; }

.form-group {
  margin-top: .5em;
  margin-bottom: .5em; }
  .form-group label {
    display: block; }
  .form-group input, .form-group button {
    width: 100%; }
  .form-group input {
    border: 1px soli #eee;
    padding-top: .5em;
    padding-bottom: .5em; }
  .form-group button {
    border: 0;
    border: 1px solid #eee;
    background: #55877d;
    color: #fafafa;
    padding-top: .5em;
    padding-bottom: .5em; }
